.intervention-container {
  overflow-x: hidden;

  .gif-container {
    overflow: hidden;
    height: 140px;
    position: relative;

    img {
      object-fit: cover;
      object-position: center;
    }

    .btn-tuto-replay {
      position: absolute;
      bottom: 16px;
      right: 16px;
    }
  }


}
