.intervention-container {
  overflow: hidden;
  height: 100vh;

  .alert {
    position: inherit;
    z-index: initial;
  }

  .gif-container {
    overflow: hidden;
    height: 140px;
    position: relative;
    display: flex;
    align-items: center;

    img {
      width: 100%;
      height: fit-content;
    }

    .btn-tuto-replay {
      position: absolute;
      bottom: 16px;
      right: 16px;
    }
  }

  .gif-pulse {
    border: 1px solid $secondary-500;
    border-radius: 1rem;
    background-color: $secondary-050;
    display: flex;
    padding: 2rem 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    color: $secondary-500 !important;

    animation: .279s ease-in infinite alternate bg-pulse;

    .heart {
      width: 85px;
      height: 85px;

      img {
        width: 100%;
        animation: .279s ease-in infinite alternate pulse;
      }
    }

    @-webkit-keyframes bg-pulse {
      from {
        background-color: $secondary-050;
      }
      to {
        background-color: $secondary-200;
      }
    }
    @keyframes bg-pulse {
      from {
        background-color: $secondary-050;
      }
      to {
        background-color: $secondary-200;
      }
    }

    @-webkit-keyframes pulse {
      from {
        transform: scale(.8);
      }
      to {
        transform: scale(1.2);
      }
    }
    @keyframes pulse {
      from {
        transform: scale(.8);
      }
      to {
        transform: scale(1.2);
      }
    }



  }


}
