.intervention-container {
  overflow-x: hidden;

  .alert {
    position: inherit;
    z-index: initial;
  }

  .gif-container {
    overflow: hidden;
    height: 140px;
    position: relative;
    display: flex;
    align-items: center;

    img {
      width: 100%;
      height: fit-content;
    }

    .btn-tuto-replay {
      position: absolute;
      bottom: 16px;
      right: 16px;
    }
  }

  .gif-pulse {
    img {
      width: 100%;
    }
  }


}
