// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// —————   Custom variables ——————

$neutral-black: #000000FF;
$neutral-white: #FFFFFFFF;
$neutral-white-transparent: #FFFFFFA3;
// primary
$primary-primary-050: #F4F6FFFF;
$primary-primary-100: #E0E8FFFF;
$primary-primary-200: #C1D1FFFF;
$primary-primary-300: #9BB8FEFF;
$primary-primary-400: #74A2FEFF;
$primary-primary-500: #398AFEFF;
$primary-primary-600: #066BD3FF;
$primary-primary-700: #034F9EFF;
$primary-primary-800: #01346CFF;
$primary-primary-900: #001B3EFF;
$primary-primary-950: #000E25FF;
// secondary
$secondary-secondary-050: #FEF1F1FF;
$secondary-secondary-100: #FCE2E3FF;
$secondary-secondary-200: #FAC1C3C3;
$secondary-secondary-300: #F8999EFF;
$secondary-secondary-400: #F67179FF;
$secondary-secondary-500: #F5394BFF;
$secondary-secondary-600: #C92134FF;
$secondary-secondary-700: #951624FF;
$secondary-secondary-800: #680C16FF;
$secondary-secondary-900: #3A0408FF;
$secondary-secondary-950: #250204FF;
// gray
$gray-gray-050: #FAFAFAFF;
$gray-gray-100: #F0F1F2FF;
$gray-gray-200: #DEDFE0FF;
$gray-gray-300: #C8CACCFF;
$gray-gray-400: #9FA2A6FF;
$gray-gray-500: #787A7FFF;
$gray-gray-600: #626673FF;
$gray-gray-700: #42495EFF;
$gray-gray-800: #2B334DFF;
$gray-gray-900: #181E38FF;
$gray-gray-950: #0A0E24FF;
// success
$Success-50: #ECFDF5FF;
$Success-100: #D1FAE5FF;
$Success-200: #A7F3D0FF;
$Success-300: #6EE7B7FF;
$Success-400: #34D399FF;
$Success-500: #10B981FF;
$Success-600: #059669FF;
$Success-700: #047857FF;
$Success-800: #065F46FF;
$Success-900: #064E3BFF;
$Success-950: #023729FF;
// warning
$Warning-50: #FFFBEBFF;
$Warning-100: #FEF3C7FF;
$Warning-200: #FDE68AFF;
$Warning-300: #FCD34DFF;
$Warning-400: #FBBF24FF;
$Warning-500: #F59E0BFF;
$Warning-600: #D97706FF;
$Warning-700: #B45309FF;
$Warning-800: #92400EFF;
$Warning-900: #78350FFF;
$Warning-950: #4E240DFF;
