// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// —————   Custom variables ——————

$neutral-black: #000000FF;
$neutral-white: #FFFFFFFF;
$neutral-white-transparent: #FFFFFFA3;
// primary
$primary-050: #F4F6FFFF;
$primary-100: #E0E8FFFF;
$primary-200: #C1D1FFFF;
$primary-300: #9BB8FEFF;
$primary-400: #74A2FEFF;
$primary-500: #398AFEFF;
$primary-600: #066BD3FF;
$primary-700: #034F9EFF;
$primary-800: #01346CFF;
$primary-900: #001B3EFF;
$primary-950: #000E25FF;
// secondary
$secondary-050: #FEF1F1FF;
$secondary-100: #FCE2E3FF;
$secondary-200: #FAC1C3C3;
$secondary-300: #F8999EFF;
$secondary-400: #F67179FF;
$secondary-500: #F5394BFF;
$secondary-600: #C92134FF;
$secondary-700: #951624FF;
$secondary-800: #680C16FF;
$secondary-900: #3A0408FF;
$secondary-950: #250204FF;
// gray
$gray-050: #FAFAFAFF;
$gray-100: #F0F1F2FF;
$gray-200: #DEDFE0FF;
$gray-300: #C8CACCFF;
$gray-400: #9FA2A6FF;
$gray-500: #787A7FFF;
$gray-600: #626673FF;
$gray-700: #42495EFF;
$gray-800: #2B334DFF;
$gray-900: #181E38FF;
$gray-950: #0A0E24FF;
// success
$success-50: #ECFDF5FF;
$success-100: #D1FAE5FF;
$success-200: #A7F3D0FF;
$success-300: #6EE7B7FF;
$success-400: #34D399FF;
$success-500: #10B981FF;
$success-600: #059669FF;
$success-700: #047857FF;
$success-800: #065F46FF;
$success-900: #064E3BFF;
$success-950: #023729FF;
// warning
$warning-50: #FFFBEBFF;
$warning-100: #FEF3C7FF;
$warning-200: #FDE68AFF;
$warning-300: #FCD34DFF;
$warning-400: #FBBF24FF;
$warning-500: #F59E0BFF;
$warning-600: #D97706FF;
$warning-700: #B45309FF;
$warning-800: #92400EFF;
$warning-900: #78350FFF;
$warning-950: #4E240DFF;
