.devise {
  padding: 32px;
  height: 100vh;
  overflow: hidden;

  .devise-bg-img {
    position: absolute;
    height: auto;
  }

  .devise-bg-left {
    width: 155px;
    top: 15%;
    left: -30px;
    transform: rotate(-15deg);
  }

  .devise-bg-right {
    width: 190px;
    bottom: 12%;
    right: -30px;
    transform: rotate(20deg);
  }

  .devise-cta-card {
    border-radius: 24px;
    box-shadow: 0 20px 25px 0 rgba(31, 41, 55, 0.10), 0 10px 10px 0 rgba(31, 41, 55, 0.04);
  }

}
