.splashscreen {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url("https://res.cloudinary.com/dqohqi3zr/image/upload/v1765362476/splashscreen_aljz9v.png");
  background-size: cover;
  background-position: center;
}
