.splashscreen {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url("https://res-console.cloudinary.com/dqohqi3zr/thumbnails/v1/image/upload/v1765362476/c3BsYXNoc2NyZWVuX2Fsano5dg==/drilldown");
  background-size: cover;
  background-position: center;
}
