<% steps.order(:id).each do |step| %>
  <% if step.step_type == "instruction" %>
    <div class ="card step-card instruction">
      <div class="row-instructions">
        <div>
          <div class="number" >
            <p class="fs-m"><%= step.number %></p>
          </div>
        </div>
        <p class="fw-500"> <%= step.details %> </p>
      </div>

      <div>
        <% if step.picture_url %>
          <%= image_tag(step.picture_url) %>
        <% end %>
      </div>
    </div>
  <% elsif step.step_type == "information" %>
    <div class ="step-card information alert alert-warning">
      <i class="ph-bold ph-info"></i>
      <%= sanitize step.details %>
    </div>
  <% end %>
<% end %>
