<% steps.order(:id).each do |step| %>
    <% if step.step_type == "instruction" %>
      <div>
        <p><%= step.number %></p>
        <div>
          <p> <%= step.details %> </p>
          <% if step.picture_url %>
            <%= image_tag(step.picture_url) %>
          <% end %>
        </div>
      </div>
    <% elsif step.step_type == "information" %>
      <div>
        <p> I </p> <%# changer pour in fontawesome %>
        <p> <%= sanitize step.details %> </p>
      </div>
    <% end %>
  <% end %>
