<div class="show-container">
  <div class ="gif-container">
      <%= image_tag(@case.gif_url) %>
  </div>
  <div class="steps-container">
    <h4>Position</h4>
    <%= render partial: "step", locals: {steps: @steps} %>
    <div class ="button-container">
      <%= link_to "J'ai compris, commencer", intervention_path(@case) %>
    </div>
  </div>
</div>
