<div>
  <%= image_tag(@case.gif_url) %>
  <%= link_to "J'ai compris, commencer", root_path %> <%# changer root_path %>
</div>
<div class="steps-container">
  <h4>Position</h4>
  <%= render partial: "step", locals: {steps: @steps} %>

  <%= link_to "J'ai compris, commencer", root_path %> <%# changer root_path %>
</div>
