<div class="pop-up-overlay d-none" data-pop-up-target="modal">
  <div class="container-pop-up">
    <div class="card-pop-up d-flex flex-column gap-2">
      <div class="card-img-recap">
        <%= cl_image_tag "first-aid-kit_o2zntz" %>
      </div>
      <div class="title-pop-up">
        <h3>Êtes-vous sûr de vouloir arrêter l'intervention ?</h3>
      </div>

      <div class="link-button-pop-up d-grid gap-2">
        <div>
          <%= link_to recap_intervention_path(intervention, case_id: case_id, lat: params[:lat], long: params[:long], city: params[:city], address: params[:address]), class: "btn btn-primary button-pop-up" do %>
          <p class="fs-m btn-one">Oui, les secours sont arrivés</p>
          <% end %>
        </div>

        <div>
          <%= link_to recap_intervention_path(intervention, case_id: case_id, lat: params[:lat], long: params[:long], city: params[:city], address: params[:address]), class: "btn btn-light button-pop-up" do %>
          <p class="fs-m btn-two">Oui, tout va bien finalement</p>
          <% end %>
        </div>

        <div>
          <%= link_to "", class: "btn button-pop-up",  dat_bs_toggle: "button", data: { action: "click->pop-up#return" } do %>
          <p class="fs-m btn-tree">Non, je continue</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
