<div data-pop-up-target="modal" class="container-pop-up hidden">
  <div class="card-recap d-flex flex-column gap-2">

    <i class="ph-bold ph-warning-circle"></i>

    <h3>Êtes-vous sûr de vouloir arrêter l'intervention ?</h3>

      <div class="justify-content-center">
        <%= link_to recap_intervention_path(intervention, lat: params[:lat], long: params[:long], city: params[:city], address: params[:address]), class: "btn btn-primary", data: { action: "pop-up#confirm" } do %>
        Oui, les secours sont arrivés
        <% end %>
      </div>

      <div class="justify-content-center">
        <%= link_to recap_intervention_path(intervention, lat: params[:lat], long: params[:long], city: params[:city], address: params[:address]), class: "btn btn-primary", data: { action: "pop-up#confirm" } do %>
        Oui, tout vas bien finalement
        <% end %>
      </div>

      <div class="justify-content-center">
        <%= link_to recap_intervention_path(intervention, lat: params[:lat], long: params[:long], city: params[:city], address: params[:address]), class: "btn btn-secondary", data: { action: "pop-up#return" } do %>
        Non, je continue
        <% end %>
      </div>
  </div>
</div>
