.show-container {
  background-color: rgb(212, 239, 255);
  display: block;
  .gif-container {
    position: sticky;
    top: 0;
    padding: 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: white;
    img {
      width: 100%;
    }
  }
}

.steps-container {
  width: 100%;
  padding: 15px;
  .button-container {
    background-color: red;
    width: 100%;
    display: flex;
    justify-content: center;
    a {
      text-decoration: none;
      color: white;
      background-color: black;
      width: 100%;
      text-align: center;
      padding: 15px;
    }
  }
}
.step-card {
  background-color: red;
  padding: 5px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  .number {
    background-color: black;
    color: white;
    // padding: 5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
  }
  img {
    width: 80%;
  }
}
.information {
  background-color: rgb(209, 209, 209);
}
.instruction {
  background-color: rgb(247, 247, 247);
}
