.steps-container {
  background-color: rgb(212, 239, 255);
  padding: 15px;
}
.step-card {
  background-color: red;
  padding: 5px;
  display: flex;
  margin-top: 10px;
  .number {
    background-color: black;
    color: white;
    // padding: 5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
  }
  img {
    width: 80%;
  }
}
.information {
  background-color: rgb(209, 209, 209);
}
.instruction {
  background-color: rgb(247, 247, 247);
}
