.show-container {
  display: block;

  .gif-container {
    position: sticky;
    top: 0;
    padding: 16px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    box-shadow: 0 20px 25px 0 rgba(31, 41, 55, 0.10), 0 10px 10px 0 rgba(31, 41, 55, 0.04);
    z-index: 99;

    img {
      width: 100%;
      border-radius: 16px;
    }
  }


  .steps-container {
    width: 100%;
    padding: 24px 8px;

    .steps-head {
      text-align: center;
      padding: 8px 32px;
    }

    .button-container {
      background-color: red;
      width: 100%;
      display: flex;
      justify-content: center;
      a {
        text-decoration: none;
        color: white;
        background-color: black;
        width: 100%;
        text-align: center;
        padding: 15px;
      }
    }
  }
  .step-card {
    display: flex;
    justify-content: center;
    padding: 16px;

    .number {
      background-color: black;
      color: white;
      // padding: 5px;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      text-align: center;
    }
    img {
      width: 80%;
    }
  }
  .information {
    // background-color: rgb(209, 209, 209);
    gap: 1rem;

    .ph-bold {
      margin-top: 2px;
    }
  }
  .instruction {
    background-color: rgb(247, 247, 247);
  }

}
