<%= render "shared/navbar" %>

<!-- DIV CONTAINER -->
<div>

  <!-- DIV CTA HELP -->
  <div>
    <h1>Besoin d'aide ?</h1>
    <h2>Restez calme et laissez-vous guider</h2>

    <%= link_to "Commencer", chats_path, data: {turbo_method: :post} %>
  </div>

  <!-- DIV Autres boutons -->
  <div>

  <!-- DIV cards -->
    <div>

  <!-- DIV card -->
      <div>

      </div>

    </div>

  </div>

</div>
