.marker-user {
  background-image: url('https://res.cloudinary.com/dqohqi3zr/image/upload/v1765362460/user_position_tqlxwq.png');
  width: 70px;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
}

.marker-dae {
  background-image: url('https://res.cloudinary.com/dqohqi3zr/image/upload/v1765362459/dae_position_tfow1o.png');
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}
