.marker-user {
  background-image: url('https://res-console.cloudinary.com/dqohqi3zr/thumbnails/v1/image/upload/v1765362460/dXNlcl9wb3NpdGlvbl90cWx4d3E=/drilldown');
  width: 70px;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
}

.marker-dae {
  background-image: url('https://res-console.cloudinary.com/dqohqi3zr/thumbnails/v1/image/upload/v1765362459/ZGFlX3Bvc2l0aW9uX3Rmb3cxbw==/drilldown');
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}
