.marker-user {
  background-image: url('user_position.png');
  width: 70px;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
}

.marker-dae {
  background-image: url('dae_position.png');
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}
