.modal-dae {

  .maps {
    width: fit-content;
    height: 200px !important;
    border-radius: 16px;

  }
  .adresse-lien {
    background-color: $primary-050;
    border-radius: 16px;
    padding: 16px;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: $primary-500;

    a {

      text-decoration: none !important;
      color: $black;

    }

  }

  .Flashez-QRCODE {
    width: fit-content;
    background-color: $primary-050;
    padding: 16px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    .Qrcode {
      padding: 16px;
      background-color: $white;
      border-radius: 7.17px;
      height: 160px;

      svg {
height: 150px;
      }
    }

  }


  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  background-color: $white;
}
