.modal-dae {

  .maps {
    width: fit-content;
    height: 200px !important;
    border-radius: 16px;
  }
  .adresse-lien {

    background-color: $primary-050;
    border-radius: 16px;
    padding: 16px;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: $primary-500;

    a {
      color: $black;
      text-decoration: none !important;
    }
  }

  .Flashez-QRCODE {

    width: fit-content;
    background-color: $primary-050;
    padding: 10px;
    color: $black;
    border-radius: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    .Qrcode {

      display: flex;
      padding: 3px;
      background-color: $white;
      border-radius: 7.17px;
    }
  }


  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  background-color: $white;
}
