// ----- div principale -----
.d-none {
  display: none !important;
}

.pop-up-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9998;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: fadeIn 0.4s ease;
}

// ----- div container -----
.container-pop-up {
  background-color: $white;
  border-radius: 24px;
  padding: 20px;
  width: 80%;
  max-width: 400px;
  z-index: 9999;
  width: 85%; // 92% pour tout couvrir

  // ----- p = font buttun -----
  .p {
    font-weight: 500 !important;
  }
}

.card-pop-up {
  background-color: $white;
  border-radius: 24px;
}

// ----- Title h3 -----
.title-pop-up {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

// ----- Button -----
.link-button-pop-up {

  .button-pop-up {
    padding-inline: 34px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .btn-one {
    font-weight: 500 !important;
  }

  .btn-two {
    color: $gray-800 !important;
    font-weight: 500 !important;
  }

  .btn-tree {
    color: $secondary-500;
    font-weight: 500 !important;
  }
}
