.d-none {
  display: none !important;
}

.container-pop-up {
  background-color: $white;
  border-radius: 24px;
  padding: 20px;
  width: 80%;
  max-width: 400px;
  z-index: 9999;
  width: 80%; // 92% pour tout couvrir
}

.pop-up-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9998;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: fadeIn 0.4s ease;
}

.card-pop-up {
  background-color: $white;
  border-radius: 24px;

}
