<div class="container nav-container">
  <div class="d-flex justify-content-between align-items-center">
    <h4>Intervention en cours</h4>
    <%= link_to recap_intervention_path(intervention, lat: params[:lat], long: params[:long], city: params[:city], address: params[:address]), class: "btn btn-secondary" do %>
      <i class="ph-bold ph-x"></i>
      Arrêter
    <% end %>
  </div>
</div>
