<div class="container nav-container">
  <div class="d-flex justify-content-between align-items-center">
    <h4>Intervention en cours</h4>
    <%= link_to "", class: "btn btn-secondary", data: { action: "click->pop-up#show" } do %>
      <i class="ph-bold ph-x"></i>
      Arrêter
    <% end %>
  </div>
</div>
