<div class="gif-pulse">
  <div class="heart">
    <%= cl_image_tag "heart_xxh0ld" %>
  </div>

  <div class="infos d-flex flex-column gap-3 align-items-center text-center">
    <h4>Suivez ce rythme pour votre massage</h4>
    <div class="badge-pulse" data-action="click->metronome#toggle">
      <i class="ph-bold ph-speaker-simple-high" data-metronome-target="icon"></i>
      110 BPM
    </div>
  </div>
</div>
