<p class="row-label"><i class="ph-bold ph-chat-circle-dots"></i>Situation</p>
  <%# Integrer le rapport de l'IA %>
<ul class="ps-3 m-0">
  <li>La personne a été victime d'un <strong><%= @case.name %></strong></li>
  <li>Durée du no-flow:
    <% duration_no_flow = rcp_start_time - help_start_time %>
    <% minutes = (duration_no_flow / 60).to_i %>
    <% seconds = (duration_no_flow % 60).to_i %>
    <strong><%= "#{minutes}min #{seconds}s" %></strong>
  </li>
  <li>Durée du low-flow: <strong><%= rcp_duration %></strong></li>
</ul>

 <%# <p class="fw-500"><%= @chat.messages.last.content</p>%>
