<p class="row-label"><i class="ph-bold ph-chat-circle-dots"></i>Situation</p>
  <%# Integrer le rapport de l'IA %>
  <ul class="ps-3 fw-500">
    <li>La personne a été victime d'un arrêt cardiaque</li>
    <li>Durée du no-flow:  </li>
    <li>Durée du low-flow: <%= rcp_duration %></li>
  </ul>


 <%# <p class="fw-500"><%= @chat.messages.last.content</p>%>


<%#
- La personne a été victime d'un malaise cardiaque
- Durée du no-flow :
- Durée du low-flow :
%>
