<div class="intervention-container p-2 d-flex flex-column gap-3">

  <h3>Toutes les interventions</h3>
    <ul>
      <% @interventions.each do | intervention | %>
        <li><%= link_to intervention.start_time&.in_time_zone('Europe/Paris')&.strftime('%d/%m/%Y à %Hh%M'),
        recap_intervention_path(intervention) %></li>
      <% end %>
    </ul>
</div>
