<div class="show-container">

  <h2>Recapitulatif intervention</h2>

  <p>Faire un résumé avec l'IA ? Texte modifiable au besoin</p>
  <%# Faire render et utiliser les 3 prochaines lignes pour la page modal_recap ??? %>
  <p>Heure de commencement :<%= @intervention.start_time %></p>
  <p>Durée totale : <%#= @intervention.end_time - @intervention.start_time ??? %></p>
  <p>Adresse : <%= @intervention.address %></p>

  <%= link_to "Envoyer le recapitulatif" %> <%#= route + création pdf + création compte ici ?? %>
  <%= link_to "Retour à l'acceuil", root_path %>
<div>
