<div>
  <div class="buttons">
    <%= link_to "< Retourner au tutoriel" %> <%# pas encore de routes et de fichier  %>
    <%= link_to "Arrêter", recap_intervention_path(@intervention) %>
  </div>

  <div class="relais">
    <p>Faites un relais afin de rester efficace</p>
  </div>

  <div class="gif">
  </div>

  <div class="rcp">
    <p>Suivez ce rythme pour votre RCP</p>
  </div>

  <div class="buttons">
    <%= link_to "Défibrilateur le plus proche" %> <%#, modal_dae_intervention_path(@intervention) (pas encore de routes)  %>
    <%= link_to "Infos récapitulatif" %> <%#, modal_recap_intervention_path(@intervention) (pas encore de routes)  %>
  </div>

</div>
