<div class="card flex-grow-1">
  <div class="card-body d-flex flex-column gap-3">

    <div class="card-head">
      <i class="ph-bold ph-heartbeat"></i>
      <p class="fw-600">Defibrilateur le plus proche</p>
    </div>

    <div class="card-img p-2">
      <%= image_tag "DAE.png" %>
    </div>

  </div>
</div>
