.show-chat{
  height: 100vh;
  display: flex;
  flex-direction: column;


  .chat-container{
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .header-chat{
      display: flex;
      flex-direction: row;
      gap: 16px;
      align-items: center;
      padding: 16px;
      padding-top: 8px;
    }

    .the-chat{
      position: relative;
      border-radius: 32px;
      padding: 8px;
      background-color:$white;
      height: 680px;
      flex-grow: 1;
      overflow: auto;

      #messages{
      display: flex;
      flex-direction: column;
      gap:10px
    }
    .user{
      display: flex;
      padding: 12px;
      justify-content: flex-end;
      .message-user{
        background: $gray-100;
        padding: 12px;
        border-radius: 16px;
      }
    }
    .assistant{
      display: flex;
      flex-direction: row;
      gap:20px;
      padding: 12px;
      .message-assistant{
        padding: 12px;
        background: $primary-100;
        border-radius: 16px;
        }
        .logo{
          img{
            width:32px;
          }
        }
      }

      .px-3.pb-0.rounded-pill{
        display: flex;
        justify-content: flex-start;
        text-align: center;
      }




      .btn-yes-or-no{
        position: absolute;
        bottom: 0;
        bottom: 8px;
        left: 8px;
        right: 8px;
        padding: 8px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin-top: 10px;
        background-color: $primary-050;
        border-radius: 24px;
        gap:8px;

        .btn.btn-secondary.no{
          padding: 18px, 20px;
          height: 52px;

        }
        .btn.btn-success.yes{
          padding: 18px, 20px;
          height: 52px;
        }

      }

      .btn-diagnostic {
        position: absolute;
        bottom: 0;
        bottom: 8px;
        left: 8px;
        right: 8px;
        padding: 8px;
        display: flex;
        justify-content: center;
        border-radius: 24px;
        padding: 12px;
      }
    }

  }
  .btn-massage {
      height: 52px;
      background-color: transparent;
      border: 1px solid $secondary-500;
      font-size: 16px;
      text-decoration: none;
      border-radius: 16px;
      margin: 8px 16px 16px;

      p {
        color: $secondary-500;
      }
      .btn-massage {
        width: 20px;
        height: 20px;
      }
    }
}
