.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  margin: 0;

  .ph-bold {
    font-size: 20px;
    margin-top: 2px;
  }

  &.alert-primary {
    background-color: $primary-050;
    .ph-bold {
      color: $primary;
    }
  }

  &.alert-warning {
    border-color: $warning-300;
  }

}

.alert-container {
  visibility: hidden
}
