@import "config/colors";

.badge-s {
  font-size: $fs-s;
  font-weight: $fw-medium;
}

.badge-neutral {
  color: $gray-700;
  background-color: $gray-100;
}

.badge-pulse {
  color: $secondary-500;
  padding: 6px 12px;
  font-size: $fs-s;
  font-weight: $fw-medium;
  display: flex;
  align-items: center;
  border-radius: 24px;
  border: 1px solid $secondary-300;
  width: fit-content;
  gap: 8px;

  .ph-bold {
    font-size: 20px;
  }
}
