.navbar-lewagon {
  justify-content: space-between;
  background: white;
  z-index: 99;


  .navbar-toggler {
    width: 44px;
    height: 44px;
    border: none;
    background-color: $primary-100;
    padding: 0;
    color: $gray-900;

    &:focus {
      box-shadow: 0 0 0 2px $primary-200;
    }
  }


}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-container {
  padding: 8px 16px;
}
